body {
    text-align: center;
    background-image: url("dark_wood.png");
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a, div {
    color: white;
}

a {
    cursor: wait;
}

div {
    background-color: #8e41d5;
}

h3, #Header h1 {
    outline: 5px solid white;
    color: #ffbc00;
    font-family: "Passion One", cursive;
    font-size: 60px;
}

h3 {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 40px;
}

p {
    font-family: "Arial";
    font-weight: bold;
    word-spacing: 10px;
}

#Header, #LeftNav, #Content, #Footer {
    border: 8px black solid;
    border-radius: 5px;
    box-shadow: 5px 10px black;
}

#Header, #LeftNav, #Content {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    width: 500px
}

#LeftNav {
    width: 400px;
    float: left;
    padding-bottom: 8px;
}

#Content {
    width: 700px;
    padding: 15px;
}

#bow {
    color: #ffbc00;
}